<div *ngIf="items">
  <h2>To-do</h2>
  <div *ngFor="let item of items.todo; let i = index">
    <app-todo-incomplete *ngIf="!item.complete" [item]="item" [index]="i"></app-todo-incomplete>
  </div>

  <app-todo-item-form></app-todo-item-form>
  <div class="break"></div>

  <h2>Completed</h2>
  <div *ngFor="let item of items.todo; let i = index">
    <app-todo-complete *ngIf="item.complete" [item]="item" [index]="i" [style.opacity] = "item.complete ? '0.5' : '1'"></app-todo-complete>
  </div>
</div>