<!--The content below is only a placeholder and can be replaced.-->
<main>
  <div class="break"></div>
  <div class="container">
      <div class="container-main">
        <div class="todo-container-main">
          <div style="text-align:center">
            <h1>
              {{ title }}
            </h1>
          </div>

          <div class="drop-box-container">
            <app-file-upload></app-file-upload>
          </div>
          
          <app-todo-item-form></app-todo-item-form>

          <app-todo-list></app-todo-list>
        </div>

        <div class="break"></div>
        <div class="break"></div>
      </div>
  </div>

  <div class="break"></div>
  
  <!-- Footer -->
  <div class="footer">
      <h3>Lab 4</h3>
      <h3>Student Name: Peter Nguyen</h3>
      <h3>Student Number: 500582630</h3>
  </div>
</main>
