<div>
  <div [hidden]="addingTask">
    <div class="add-item" (click)="onAddingTask()">Add New Task</div>
  </div>

  <div [hidden]="!addingTask">
    <form (ngSubmit)="onSubmit()" #TodoItemForm="ngForm" name="add-item-form">
      <div class="add-form-container">
        <div class="add-form-top-container">
          <div class="add-form-task">
            <input type="text" id="task"
              required
              [(ngModel)]="model.task" name="task"
              #name="ngModel"
              placeholder="Task">
          </div>
          <div class="add-form-checkbox">
            <button type="submit" [disabled]="!TodoItemForm.form.valid">Add</button>
          </div>
          <div class="add-form-remove">
            <button type="button" (click)="onCancel(); TodoItemForm.reset()">Cancel</button>
          </div>
        </div>
        <div class="add-form-description">
          <textarea rows="3" id="description" [(ngModel)]="model.description" name="description" placeholder="Description"></textarea>
        </div>
      </div>
    </form>
  </div>
</div>