html, body, main {
    background-image: linear-gradient(to bottom right, rgba(0, 200, 255, 0.082), rgba(0, 255, 42, 0.021));
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 100%;
    margin: 0;
    min-width: 600px;
    padding: 0;
    width: 100%;

    /* Disable text selection */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Non-prefixed version, currently */
}
    a {
        color: black;
        outline: none;
        text-decoration: none;
    }

/* Main Container */
.container {
    align-items: center;
    display: flex;
    justify-content: center;
}
    .container h1 {
        font-size: 60px;
        text-align: center;
        width: 100%;
    }

/* Main Map Container */
.container-main {
    background-color: white;
    border: 1px solid #cdcecf;
    box-shadow: 1px 1px 50px 1px #e7e7e7;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: center; /* centers all content (widgets) */
}

.todo-container-main {
    width: 550px;
}

.drop-box-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
    #drop-box {
        align-items: center;
        border-radius: 5px;
        border-style: dashed;
        border: 5px solid black;
        box-shadow: 1px 1px 50px 1px #e7e7e7;
        display: flex;
        height: 200px;
        justify-content: center;
        text-align: center;
        width: 200px;
    }
    #file-input {
        left: 15px;
        position: relative;
        text-align: center;
    }

.todo-container {
    width: 100%;
    padding: 10px;
    box-shadow: 1px 1px 50px 1px #e7e7e7;
    border-radius: 5px;
    border: solid black 1px;
    margin: 15px 0px;
}
    .todo-top-container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        padding: 10px 0px;
        border-bottom: solid black 1px;
    }
    .todo-checkbox {
        display: flex;
        width: 6%;
        justify-content: center;
    }
    .todo-task {
        width: 88%;
        padding-left: 1%;
        word-wrap: break-word;
    }
    .todo-remove {
        display: flex;
        width: 5%;
        justify-content: center;
    }
    .todo-description {
        width: 100%;
        padding: 10px 0px;
        border-top: solid black 1px;
        word-wrap: break-word;
    }

.close {
  position: relative;;
  width: 32px;
  height: 32px;
  opacity: 0.7;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 12px;
  content: ' ';
  height: 28px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

input[type='checkbox'] {
    position: relative;
    top: -5px;
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
    outline: 0;
}
    input[type='checkbox']:checked {
        background: #abd;
        outline: 0;
    }

.add-item {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: solid gray 1px;
    color: gray;
    align-items: center;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 50px 1px #e7e7e7;
    padding: 10px;
    margin: 15px 0px;
    position: relative;
}
    .add-item:hover {
        border: solid black 1px;
        color: black;
    }
.add-form-container {
    width: 100%;
    padding: 10px;
    box-shadow: 1px 1px 50px 1px #e7e7e7;
    border-radius: 5px;
    border: solid black 1px;
    margin: 15px 0px;
}
    .add-form-top-container {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        padding: 0px 0px 10px 0px;
        border-bottom: solid black 1px;
    }
    .add-form-task {
        width: 75%;
        padding-right: 1%;
    }
    .add-form-checkbox {
        display: flex;
        width: 12%;
        justify-content: center;
    }
    .add-form-remove {
        display: flex;
        width: 12%;
        justify-content: center;
    }
    .add-form-description {
        width: 100%;
        padding-top: 10px;
        border-top: solid black 1px;
    }

button {
  background-color: rgb(136, 136, 136);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 60px;
}
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 18px;
    }
    textarea, select {
        width: 100%;
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: none;
        font-size: 18px;
    }
    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

/* Footer */
.footer {
    background: white;
    box-shadow: 1px 1px 50px 1px #e7e7e7;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

.break {
    display: block;
    height: 20px;
    width: 100%;
}

/* Responsive Scaling */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 600px) {
    .container-main {
        width: 90%;
    }
    .panel-container {
        width: 100%;
    }
}
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media screen and (min-width: 600px) {
        .container-main {
            width: 90%;
        }
        .panel-container {
            width: 100%;
        }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media screen and (min-width: 768px) {
        .container-main {
            width: 80%;
        }
        .panel-container {
            width: 47%;
        }
    }