html, body, main {
    background-image: linear-gradient(to bottom right, rgba(0, 200, 255, 0.082), rgba(0, 255, 42, 0.021));
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    height: 100%;
    margin: 0;
    min-height: 100%;
    min-width: 600px;
    padding: 0;
    width: 100%;

    /* Disable text selection */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Non-prefixed version, currently */
}
    a {
        color: black;
        outline: none;
        text-decoration: none;
    }

/* Main Container */
.container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100%;
}
    .container h1 {
        font-size: 50px;
        text-align: center;
        width: 100%;
    }

/* Main Map Container */
.container-main {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #cdcecf;
    box-shadow: 1px 1px 10px 1px #e7e7e7;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: center; /* centers all content (widgets) */
}
    .todo-container-main {
        width: 500px;
    }

.drop-box-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
    #drop-box {
        align-items: center;
        border-radius: 5px;
        border: 5px dashed black;
        box-shadow: 1px 1px 10px 1px #e7e7e7;
        display: flex;
        height: 200px;
        justify-content: center;
        text-align: center;
        width: 200px;
    }
    #file-input {
        left: 15px;
        position: relative;
        text-align: center;
    }

.todo-container {
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px 10px 1px #e7e7e7;
    margin: 15px 0px;
    padding: 10px;
    width: 478px;
}
    .todo-top-container {
        border-bottom: solid black 1px;
        display: flex;
        flex-flow: row wrap;
        padding: 10px 0px;
        width: 100%;
    }
    .todo-checkbox {
        display: flex;
        justify-content: center;
        width: 30px;
        transition: all 200ms;
    }
    .todo-task {
        padding-left: 1%;
        width: 413px;
        word-wrap: break-word;
    }
    .todo-remove {
        display: flex;
        justify-content: center;
        width: 26px;
    }
    .todo-description {
        border-top: solid black 1px;
        padding: 10px 0px;
        white-space: pre-line;
        width: 100%;
        word-wrap: break-word;
    }

.close {
  height: 26px;
  opacity: 0.4;
  position: relative;;
  width: 26px;
  transition: all 200ms;
}
    .close:hover, .close:focus {
        opacity: 1;
    }
    .close:before, .close:after {
        background-color: black;
        content: ' ';
        height: 26px;
        left: 12px;
        position: absolute;
        width: 2px;
    }
    .close:before {
        transform: rotate(45deg);
    }
    .close:after {
        transform: rotate(-45deg);
    }

input[type='checkbox'] {
    -webkit-appearance: none;
    background: white;
    border-radius: 5px;
    /* border: 2px solid gray; */
    height: 25px;
    outline: none;
    position: relative;
    top: -5px;
    width: 25px;

    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    border: 2px solid #cdcecf;
}
    input[type='checkbox']:hover, input[type='checkbox']:focus {
        border: 2px solid black;
        box-shadow: 0 0 5px rgb(214, 214, 214);
    }
    input[type='checkbox']:checked {
        background: gray;
        outline: none;
    }

.add-item {
    /* text-align: center; */
    align-items: center;
    border-radius: 5px;
    border: 1px solid #cdcecf;
    box-shadow: 1px 1px 10px 1px #e7e7e7;
    color: gray;
    display: flex;
    height: 30px;
    justify-content: center;
    margin: 15px 0px;
    padding: 10px;
    position: relative;
    transition: all 200ms;
    width: 478px;
}
    .add-item:hover, .add-item:focus {
        border: solid black 1px;
        color: black;
    }

.add-form-container {
    border-radius: 5px;
    border: solid black 1px;
    box-shadow: 1px 1px 10px 1px #e7e7e7;
    margin: 15px 0px;
    padding: 10px;
    width: 478px;
}
    .add-form-top-container {
        border-bottom: solid black 1px;
        display: flex;
        flex-flow: row wrap;
        padding: 0px 0px 10px 0px;
        width: 100%;
    }
    .add-form-task {
        padding-right: 1%;
        width: 333px;
    }
    .add-form-checkbox {
        display: flex;
        justify-content: center;
        width: 70px;
    }
    .add-form-remove {
        display: flex;
        justify-content: center;
        width: 70px;
    }
    .add-form-description {
        border-top: solid black 1px;
        padding-top: 10px;
        width: 100%;
    }

button {
    background-color: rgb(136, 136, 136);
    border: none;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width: 60px;

    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    border: 2px solid #cdcecf;
    outline: none;
}
    button:focus {
        border: 2px solid black;
        box-shadow: 0 0 5px rgb(214, 214, 214);
    }
    button::-moz-focus-inner {
        border: 0;
    }
    input[type=text], textarea, select {
        border-radius: 4px;
        box-sizing: border-box;
        display: inline-block;
        font-size: 18px;
        padding: 12px 20px;
        width: 100%;

        -moz-transition: all 0.30s ease-in-out;
        -ms-transition: all 0.30s ease-in-out;
        -o-transition: all 0.30s ease-in-out;
        -webkit-transition: all 0.30s ease-in-out;
        border: 2px solid #cdcecf;
        outline: none;

        resize: none;
    }
    input[type=text]:focus, textarea:focus {
        border: 2px solid black;
        box-shadow: 0 0 5px rgb(214, 214, 214);
    }

/* Footer */
.footer {
    background: white;
    box-shadow: 1px 1px 10px 1px #e7e7e7;
    height: 160px;
    margin-top: 40px;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}

.break {
    display: block;
    height: 20px;
    width: 100%;
}

/* Responsive Scaling */
@media screen and (max-width: 600px) {
    .container-main {
        width: 100%;
    }
}
    @media screen and (min-width: 600px) {
        .container-main {
            width: 90%;
        }
    }
    @media screen and (min-width: 1024px) {
        .container-main {
            width: 60%;
        }
    }